<h1>Sign up</h1>

<!-- sign up form for users -->

<%= form_with model: @user, url: sign_up_path do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :fullname %>
    <%= form.text_field :fullname, class:"form-control", placeholder:"John Doe" %>
  </div>

  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control", placeholder:"johndoe@gmail.com" %>
  </div>

  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control", placeholder:"password" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class:"form-control", placeholder:"password" %>
  </div>

  <div class="mb-3">
    <%= form.label :dob %>
   <%= form.date_field :dob, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :state %>
    <%= form.text_field :state, class:"form-control", placeholder:"which state" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>

<% end %>
